<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="header">
    <img src="location.png" class="header__image"
         alt="an image of a map and location">
    <h1 class="header__title">GeoTagApp</h1>
    <nav class="header__navigation">
        <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
    </nav>
</header>

<main class="main row">
    <section class="main__tagging tagging col-4">
        <h2 id="headline">Tagging</h2> <br>

        <!-- ############### VS1Lab 1a Form 1 Start -->
        <form id="tag-form">
            <fieldset class="fieldsetTagging fieldset">
                <legend id="legendTagging">Add new GeoTag</legend>
                <label for="inLatitude">Latitude:</label> <br>
                <input id="inLatitude" name="latitude" placeholder="49.01379" disabled> <br>
                <input type="hidden" id="inLatitudeHid" name="latitude" data-id=""> <br>
                <label for="inLongitude">Longitude:</label> <br>
                <input id="inLongitude" placeholder="8.390071" disabled> <br>
                <input type="hidden" id="inLongitudeHid" name="longitude"> <br>
                <label for="tagName">Name:</label> <br>
                <input id="tagName" name="name" placeholder="e.g. Central Berlin" minlength="2" maxlength="10" required> <br>
                <label for="tagHashtag">Hashtag:</label> <br>
                <input id="tagHashtag" name="hashtag" placeholder="e.g. #ber" pattern="^#[a-z]{1,10}$"> <br>
                <button id="buttonTagging" type="submit">Add Tag</button>
            </fieldset>
        </form>
        <!-- ############### VS1Lab 1a Form 1 End -->

    </section>

    <section class="main__discovery col-8">
        <h2 class="discovery__title">Discovery</h2> <br>

        <!-- ############### VS1Lab 1a Form 2 Start -->
        <form class="discovery__search" id="discoveryFilterForm">
            <fieldset class="fieldsetDiscovery fieldset">
                <legend>Search</legend>
                <label for="searchBar">Search term or keywords:</label> <br>
                <input id="searchBar" name="searchterm" placeholder="e.g. Berlin"> <br>
                <button type="submit">Search</button>
            </fieldset>
        </form>
        <!-- ############### VS1Lab 1a Form 2 End -->

        <div class="discovery__wrapper row">
            <div class="discovery__taglist col-6">
                <ul class="discovery__results" id="discoveryResults">
                    <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                        <li class="geotag-item">
                            <div class="geotag-content" > <%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %> ) <%= gtag.hashtag %></div><br>
                            <div class="geotag-editables">
                                <button data-id=<%= gtag.id %> class="geotag-editable" onclick="remove(this.dataset.id)">DELETE</button>
                                <button data-id=<%= gtag.id %> data-latitude=<%= gtag.latitude %> data-longitude=<%= gtag.longitude %> class="geotag-editable" onclick="edit(this.dataset.id, this.dataset.latitude, this.dataset.longitude)">EDIT</button>
                                <!--<button data-id=<%= gtag.id %> class="geotag-editable">REFRESH</button>-->
                            </div>
                        </li>
                    <% });%>
                </ul>
            </div>
            <div class="discovery__map" >
                <img src="mapview.jpg" alt="a map with locations" id="mapView" data-tags=<%= JSON.stringify(taglist) %> />
                <br>
                <span>Result map</span>
            </div>
        </div>
    </section>

</main>

<footer class="footer">
    <span>(c) 2021/22 HKA_IWI_VSYS</span>
</footer>

<script src="geotagging.js"></script>
<script src="location-helper.js"></script>
<script src="map-manager.js"></script>

</body>

</html>
